sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -U pip setuptools wheel
  - pip install -r requirements-tests.txt
  - pip install -e .
script:
  - pytest -v
